@use '../_theme.scss' as *;

.editor-styles-wrapper .sf-number-block {
  /* Editor container styling for the number block */
  border: 1px solid #ddd;
  padding: 10px;
}

.editor-styles-wrapper .sf-number-block .sf-number-container {
  width: auto;
  max-width: 80px;
}
