<?xml version="1.0"?>
<ruleset name="SmartForms Project">
    <description>PHPCS rules for the SmartForms plugin.</description>

    <!-- Set the standard -->
    <rule ref="WordPress" />

    <!-- Include these file types -->
    <file>./</file>

    <!-- Exclude specific directories -->
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
</ruleset>
