.wp-block-smartforms-buttons,
.wp-block-smartforms-checkbox,
.wp-block-smartforms-number,
.wp-block-smartforms-radio,
.wp-block-smartforms-select,
.wp-block-smartforms-slider,
.wp-block-smartforms-text,
.wp-block-smartforms-textarea {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}
